$containerColor: #34495e;
.searchContainer {
  padding: 20px;
  border-radius: 0px;
  color: white;
}

.boxContainer {
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
      color: #03586B !important;
      text-align: justify;
    }
  }
}

.homeTop {
  display: flex;
  align-items: center;
  padding: 10px;

  h1 {
    color: #03586B;
  }

  img {
    width: 40%;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.homeFooter {
  background-color: #8FE4F6;
  display: flex;
  align-items: center;
  min-height: 200px;
}

.homeFooterBox {
  width: calc(100% / 3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-height: 64px;
  }

  p {
    color: #03586B;
    text-align: justify;
  }
}

.homeLayout {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}