.outerContainer {
  padding: 10px;
  width: 100%;
}

.container {
  width: 100%;
  h4{
    color: #03586B;
  }
  text-align: center;
}
.contaner{
  background-color: #F0F2F2;
  padding: 20px;

}
.footer{
  background-color: #81B6C1;
  color: #03586B;
  border: 1px solid #03586B;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}