.container {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #FAFDFC;
  :global(.auth){
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: #03586B;
  }
}

.logo{
  color: white;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #03586B;
  font-size: 16px;
  > img {
    height: 100%;
  }
}